*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NAVIGATION-BAR{
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 80px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-and-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.admlogo{
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 27px;
    color: white;
}
.btrfylogo{
    padding-top: 16px;
    padding-left: 8.9px;
    height: 63.7px;
    width: 63.7px;
}
.img{
    height: 80.1px;
    width: 80px;
    background-color: rgb(169, 46, 81);
}
.img:hover{
    background-color: rgb(180, 51, 88);
}
.random-texts{
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 48px;
    align-items: center;
}
.dis{
    border: 1px solid rgb(54, 54, 54);
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: white;
    padding: 12px 32px 12px 32px;
}
.play-btn{
    background-color: rgb(225, 78, 119);
    border: 1px solid rgb(225, 78, 119);
    border-radius: 20px;
    width: 175px;
    height: 60px;
}
.play{
    width: 35px;
    height: 35px;
    color: white;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.sun-icon-thingy{
    background-color: rgb(225, 78, 119);
    border: 1px solid rgb(225, 78, 119);
    border-radius: 20px;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.sun{
    width: 45px;
    height: 45px;
    color: white;
}
.dis:hover{
    background-color: rgb(225, 78, 119);
    border: 1px solid rgb(225, 78, 119);
    border-radius: 20px;
    padding: 12px 32px 12px 32px;
    transition-duration: 500ms;
    transition-property: background-color;
}
.book-part1{
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    margin: auto;
    flex-direction: column;
    gap: 10px;
}
.pets1{
    display: flex;
    flex-direction: row;
    /* margin-top: 50px;
    gap: 20px; */
    width: 100%;
}
.search-and-stuff{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 50px;
    /* margin-left: 400px;
    margin-top: 100px; */
}
.search{
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    border: 5px hotpink solid
}
.rarity{
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    border: 5px hotpink solid
}
.alphabetical{
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
    border: 5px hotpink solid
}
.pets2{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 400px;
    width: 500px;
}
.A21to22{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.butterfly2021{
    width: 180px;
    height: 160px;
    background-color: deepskyblue;
    border-top: 50px;
    border-left: 50px;
    border-right: 50px;
    border-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.butterfly1{
    width: 120px;
    height: 80px;
    margin-bottom: 40px;
}
.butterfly2022{
    width: 180px;
    height: 160px;
    background-color: lawngreen;
    border-top: 50px;
    border-left: 50px;
    border-right: 50px;
    border-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.butterfly2{
    width: 120px;
    height: 80px;
    margin-bottom: 40px;
}
.A25to2D{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.butterfly2025{
    width: 180px;
    height: 160px;
    background-color: darkorchid;
    border-top: 50px;
    border-left: 50px;
    border-right: 50px;
    border-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.butterfly3{
    width: 120px;
    height: 80px;
    margin-bottom: 40px;
}
.I2Dkitty{
    width: 180px;
    height: 160px;
    background-color: lightskyblue;
    border-top: 50px;
    border-left: 50px;
    border-right: 50px;
    border-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Kitty2D{
    width: 180px;
    height: 80px;
    margin-bottom: 40px;
}