*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NAVIGATION-BAR{
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 80px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.img-and-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.admlogo{
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 27px;
    color: white;
}
.btrfylogo{
    padding-top: 16px;
    padding-left: 8.9px;
    height: 63.7px;
    width: 63.7px;
}
.img{
    height: 80.1px;
    width: 80px;
    background-color: rgb(169, 46, 81);
}
.img:hover{
    background-color: rgb(180, 51, 88);
}
.random-texts{
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 48px;
    align-items: center;
}
.dis{
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: white;
}
.play-btn{
    background-color: rgb(225, 78, 119);
    border: 1px solid rgb(225, 78, 119);
    border-radius: 20px;
    width: 175px;
    height: 60px;
}
.play{
    width: 35px;
    height: 35px;
    color: white;
}
.sun-icon-thingy{
    background-color: rgb(225, 78, 119);
    border: 1px solid rgb(225, 78, 119);
    border-radius: 20px;
    width: 60px;
    height: 60px;
}
.sun{
    width: 45px;
    height: 45px;
    color: white;
}